<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col">
        <h2>Manage Universities</h2>
      </div>
      <div class="col">
        <a href="university/add" class="btn btn-success"> Add New University</a>
        <a href="" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>LHR Leads Uni</td>
        <td>Kamaha Rd</td>
        <td>Lahore</td>
        <td>Pakistan</td>
        <td>0333 3333989</td>
      </tr>
            <tr>
        <td>2</td>
        <td>LHR Leads Uni</td>
        <td>Kamaha Rd</td>
        <td>Lahore</td>
        <td>Pakistan</td>
        <td>0333 3333989</td>
      </tr>
            <tr>
        <td>3</td>
        <td>LHR Leads Uni</td>
        <td>Kamaha Rd</td>
        <td>Lahore</td>
        <td>Pakistan</td>
        <td>0333 3333989</td>
      </tr>
            <tr>
        <td>4</td>
        <td>LHR Leads Uni</td>
        <td>Kamaha Rd</td>
        <td>Lahore</td>
        <td>Pakistan</td>
        <td>0333 3333989</td>
      </tr>
            <tr>
        <td>5</td>
        <td>LHR Leads Uni</td>
        <td>Kamaha Rd</td>
        <td>Lahore</td>
        <td>Pakistan</td>
        <td>0333 3333989</td>
      </tr>
    </tbody>
  </table>
</div>