<div class="container">
  <div class="table-wrapper">
    <h2>Welcome to University App. Please, go <a class="btn" href="/university">here</a> </h2>
    <h6> <i>App is under development</i></h6>
  </div>
</div>