<div class="container">
  <div class="table-wrapper">
   
    {{#if success_message}}
      <div class="alert-success alert">  asdsd {{ success_message }} </div>
    {{/if}}

    {{#if error_message}}
      <div class="alert-danger alert">  asd {{ error_message }} </div>
    {{/if}}

  </div>
</div>