body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.table-wrapper {
  margin-top: 36px;
}

.table-title {
  background-color: #435761;
  padding: 14px;
  color: white;
}
.table-title .btn {
  float: right;
  margin-left: 10px;
}
.center {
  margin-left: auto; 
  margin-right: auto;
}

.form-wrapper {
  margin-top: 20px;
}

.font-edit-icon {
  color : green;
  padding: 10px
}

.font-del-icon {
  color: red;
  padding: 10px;
}

h2 {
  font-size: 1.5rem;
}

.red {
  color : red;
}

.btn-border {
  border-radius: 4px 0px 0px 4px;
}

a {
  color: rgb(175, 161, 161);
  text-decoration: none;
}

a:hover {
  color: #FFC107;
  text-decoration: none;
} 

.dark {
  color : #435761;
}
.dark:hover {
  color: black;
  text-decoration: underline;
}

.signin {
  margin-top: 10px;
}

