body {
  background-color: white;
}

.card-img {
  margin-left: 24px;
  margin-top: 22px;
  height: 160px;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 160px;
}

.university-logo {
  max-height: 152px;
  max-width: 152px;
}

/* new */

#headerMenuCollapse {
  background-color: #ff9800;
}

#headerMenuCollapse .nav-tabs {
  color: white;
}

.banner-img {
  height: 300px;
  display: flex;
  background-size: cover;
  background-position: center;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
}

.banner-img .university-logo {
  height: 80px;
  width: 80px;
  padding: 4px;
  display: inline-block;
  background-color: white;
}

ul {
  list-style-type: none;
  display: inline;
}

li {
  padding: 10px 0px;
}

.program-details .img-circle {
  padding: 0px 8px 0px 8px;
}

.red {
  color: red;
}

banner-img:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner-title {
  font-family: "Marck Script", cursive;
  font-size: 4em;
}

.input-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 17px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.banner-search .input-lg {
  height: 46px;
  line-height: 46px;
  margin-top: 7px;
}

.btn-search {
  color: #fff;
  background-color: #ef6c00;
  border-color: #d66000;
  margin-top: 7px;
  border-radius: 6px;
}

.banner-search {
  width: 70%;
  margin: auto;
}

.top-universities {
  margin-top: 35px;
  margin-bottom: 20px;
}

.top-universities a {
  color: #ef6c00;
  text-decoration: none;
}

.btn-top-universities {
  color: #fff;
  background-color: #ff9800;
  border-color: #e68900;
}

.container {
  max-width: 1145px;
}

/* .img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
} */

.foot-top {
  margin-top: 75px;
  background-color: #f1f1f1;
}

.foot-top li {
  padding: 0px;
  text-align: center;
}

.dashboard-top {
  margin-top: 60px;
}

.img-thumbnail img {
  max-height: 150px;
}

h2,
h3 {
  font-weight: 400;
}

.short {
  height: 240px !important;
}