<div class="header py-4">
				<div class="container">
					<div class="d-flex">
						<a class="header-brand" href="./index.html">
							<img src="/images/site/tabler.svg" class="header-brand-img" alt="tabler logo">
						</a>
						<div class="d-flex order-lg-2 ml-auto">
							<div class="dropdown">
								<a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
									<span class="avatar" style="background-image: url(/images/faces/female/25.jpg)"></span>
									<span class="ml-2 d-none d-lg-block">
										<span class="text-default">Aimen Batool </span>
										<small class="text-muted d-block mt-1">Administrator</small>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
									<a class="dropdown-item" href="#">
										<i class="dropdown-icon fe fe-user"></i> Profile
									</a>
									<a class="dropdown-item" href="#">
										<i class="dropdown-icon fe fe-settings"></i> Settings
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">
										<i class="dropdown-icon fe fe-log-out"></i> Sign out
									</a>
								</div>
							</div>
						</div>
						<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
							<span class="header-toggler-icon"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg order-lg-first">
							<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
								<li class="nav-item">
									<a href="./index.html" class="nav-link active">
										<i class="fe fe-home"></i> Home</a>
								</li>
								<li class="nav-item">
									<a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
										<i class="fe fe-user"></i> Users </a>
									<div class="dropdown-menu dropdown-menu-arrow">
										<a href="javascript:void(0)" class="dropdown-item ">Add Users</a>
										<a href="manage-users.html" class="dropdown-item ">Manage Users</a>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
										<i class="fe fe-book"></i> Universities </a>
									<div class="dropdown-menu dropdown-menu-arrow">
										<a href="/admin/university/add" class="dropdown-item ">Add University</a>
										<a href="/admin/university/manage" class="dropdown-item ">Manage Universities </a>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
										<i class="fe fe-file"></i> Programs </a>
									<div class="dropdown-menu dropdown-menu-arrow">
										<a href="/admin/program/add" class="dropdown-item ">Add Programs</a>
										<a href="/admin/program/manage" class="dropdown-item "> Manage Programs </a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>