<div class="banner-img" style="background-image: url('/images/public-images/banner2.jpg'); height: 400px;">
  <div class="col-sm-11 col-sm-offset-1" style="align-self: center; margin: auto">
    <div class="text-center hidden-xs hidden-sm">
      <div>
        <span class="banner-title"> Degree Guide </span>
      </div>
      <div>
        <span style="font-size: 1.5em"> Plan your future</span>
      </div>
      <h2> What do you plan to study?</h2>
    </div>
    <div class="row banner-search">
      <div class="col-sm-9">
        <div class="form-group">
          <form action="/universities" method="POST">
            <input name="universitySearch" placeholder="Enter Degree Name e.g. Business, Pharmacy " id="universitySearch" class="form-control input-lg">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-search"> SEARCH UNIVERSITIES</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row top-universities">
    <div class="col-sm-6">
      <h3> TOP UNIVERSITIES</h3>
    </div>
    <div class="col-sm-6 text-right">
      <h3>
        <a href="">
          <button class="btn btn-top-universities">
            MORE UNIVERSITIES
            <i class="fa fa-chevron-right"></i>
          </button>
        </a>
      </h3>
    </div>
  </div>

  <div class="row">
    {{#each universities}}
    <div class="col-sm-2 cpl-xs-6 text-center" style="margin: 0px 17px;">
      <a href="">
        <div class="img-thumbnail">
          <img src="{{this.logo}}" alt="" class="img-responsive">
        </div>
        <h4 style="margin-top: 14px">
          <strong> {{this.universityName}}</strong>
        </h4>
      </a>
    </div>
    {{/each}}
  </div>

  <div class="clearfix"></div>
  <hr>

  <!-- Public Universities  -->

  <div class="row top-universities">
    <div class="col-sm-6">
      <h3> PUBLIC SECTOR UNIVERSITIES</h3>
    </div>
    <div class="col-sm-6 text-right">
      <h3>
        <a href="">
          <button class="btn btn-top-universities">
            PUBLIC SECTOR UNIVERSITIES
            <i class="fa fa-chevron-right"></i>
          </button>
        </a>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 cpl-xs-6 text-center" style="margin: 0px 17px;">
      <a href="">
        <div class="img-thumbnail">
          <img src="/images/public-images/punjab-university.jpeg" alt="" class="img-responsive">
        </div>
        <h4 style="margin-top: 14px">
          <strong> NUCES</strong>
        </h4>
      </a>
    </div>

    <div class="col-sm-2 cpl-xs-6 text-center" style="margin: 0px 17px;">
      <a href="">
        <div class="img-thumbnail">
          <img src="/images/public-images/punjab-university.jpeg" alt="" class="img-responsive">
        </div>
        <h4 style="margin-top: 14px">
          <strong> NUCES</strong>
        </h4>
      </a>
    </div>

    <div class="col-sm-2 cpl-xs-6 text-center" style="margin: 0px 17px;">
      <a href="">
        <div class="img-thumbnail">
          <img src="/images/public-images/punjab-university.jpeg" alt="" class="img-responsive">
        </div>
        <h4 style="margin-top: 14px">
          <strong> NUCES</strong>
        </h4>
      </a>
    </div>

    <div class="col-sm-2 cpl-xs-6 text-center" style="margin: 0px 17px;">
      <a href="">
        <div class="img-thumbnail">
          <img src="/images/public-images/punjab-university.jpeg" alt="" class="img-responsive">
        </div>
        <h4 style="margin-top: 14px">
          <strong> NUCES</strong>
        </h4>
      </a>
    </div>

    <div class="col-sm-2 cpl-xs-6 text-center" style="margin: 0px 17px;">
      <a href="">
        <div class="img-thumbnail">
          <img src="/images/public-images/punjab-university.jpeg" alt="" class="img-responsive">
        </div>
        <h4 style="margin-top: 14px">
          <strong> NUCES</strong>
        </h4>
      </a>
    </div>

  </div>

  <div class="clearfix"></div>
  <hr>

  <!-- Top articles -->
  <div class="row top-universities">
    <div class="col-sm-6">
      <h3> TRENDING ARTICLES</h3>
    </div>
    <div class="col-sm-6 text-right">
      <h3>
        <a href="">
          <button class="btn btn-top-universities">
            READ ALL
            <i class="fa fa-chevron-right"></i>
          </button>
        </a>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 cpl-xs-6 text-center" style="margin: 0px 17px;">
      <a href="">
        <div class="img-thumbnail">
          <img src="/images/public-images/a.jpeg" alt="" class="img-responsive">
        </div>
        <h4 style="margin-top: 14px">
          <strong> How to prepare for Entry test exams?</strong>
        </h4>
      </a>
    </div>

    <div class="col-sm-2 cpl-xs-6 text-center" style="margin: 0px 17px;">
      <a href="">
        <div class="img-thumbnail">
          <img src="/images/public-images/b.jpg" alt="" class="img-responsive">
        </div>
        <h4 style="margin-top: 14px">
          <strong> Study hard and get admission with...</strong>
        </h4>
      </a>
    </div>

    <div class="col-sm-2 cpl-xs-6 text-center" style="margin: 0px 17px;">
      <a href="">
        <div class="img-thumbnail">
          <img src="/images/public-images/c.jpeg" alt="" class="img-responsive">
        </div>
        <h4 style="margin-top: 14px">
          <strong> How to find a Scholarship?</strong>
        </h4>
      </a>
    </div>

    <div class="col-sm-2 cpl-xs-6 text-center" style="margin: 0px 17px;">
      <a href="">
        <div class="img-thumbnail">
          <img src="/images/public-images/d.jpeg" alt="" class="img-responsive">
        </div>
        <h4 style="margin-top: 14px">
          <strong> Tips for filling application</strong>
        </h4>
      </a>
    </div>

    <div class="col-sm-2 cpl-xs-6 text-center" style="margin: 0px 17px;">
      <a href="">
        <div class="img-thumbnail">
          <img src="/images/public-images/e.jpeg" alt="" class="img-responsive">
        </div>
        <h4 style="margin-top: 14px">
          <strong> How makinga time table help achie...</strong>
        </h4>
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>